html {
    background-color: black;
    color:white;
    font-family: Courgette;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: center;
}

header img {
    height:120px;
    width: auto;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 30px 40px;
    font-size: 1.7rem;
}

nav li a {
    text-decoration: none;
    color: white;
}

nav li a:hover {
    color: grey;
}

.mission {
    display: flex;
    background-image: url("peachdc.jpg");
    background-repeat: no-repeat;
    height: 850px;
    width: 504px;
    background-size: contain;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
}

.mission p {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding:10px;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: .2rem;
}

h2 {
    text-align: center;
    margin-top: 200px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 20px auto;
    justify-content: space-around;
    padding: 15px;
    border: dashed 1px silver;
}

.proj img{
    width: auto;
    height: 200px;
}
.proj video{
    height: auto;
    width: 200px;
}
.projb img{
    height: 300px;
    width:auto;
}
.projb video{
    height:200px;
}
.proj {
    width: 200px;
    margin: 20px;
}

#leftright {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 800px;
}

#leftright img {
    height: 200px;
    width: auto;
}

.left {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    background-color: rgba(100,100,100,.25);
}

.right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin:20px;
    background-color: rgba(100,100,100,.25);
}

.left div {
    width: 350px;
    padding: 10px 20px;
}

.right div {
    width: 350px;
    padding: 10px 20px;
    text-align: right;
}

.left p, .right p {
    font-family: Quattrocentro;
    font-size: 1.1rem;
    letter-spacing: .1rem;
}

footer {
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    margin:30px;
}

@media only screen and (max-width:670px){
    header{
        flex-direction: column;
    }
    header img {
        height: 160px;
        width:220px;
        margin: 10px auto;
    }
    
    nav ul{
        padding: 0;
    }
    
    .mission{
        height: 500px;
        width:300px;
    }
    
    .mission p {
        font-size: 1.2rem;
        letter-spacing: .1rem;
    }
    .projects{
        max-width: 500px;
    }
    .proj {
        width: 400px;
    }
    .proj img {
        width: 380px;
        height: auto;
    }
    .projb img{
        height:450px;
        width: auto;
    }
    
    #leftright {
        max-width: 600px;
    }
}

@media only screen and (max-width:460px){
    html {
        font-family: Quattrocentro;
    }
    
    nav li {
        font-size: 1.2rem;
        margin: 10px;
    }
    .projects {
        width: 300px;
    }
    
    .proj {
        width: 280px;
    }
    .proj img{
        height: auto;
        width: 260px;
    }
    .projb img{
        width: 260px;
        height: auto;
    }
    #leftright {
        max-width: 300px;
        font-size: 1.2rem;
    }
    #leftright img {
        width: 260px;
        height:auto;
    }
    .left,.right {
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        margin: 60px auto 0 auto;
    }
    .left div, .right div {
        width: 280px;
        padding:10px;
    }
    .right div{
        text-align: left;
    }
    
}